// colors

$main-color: #13183F;
$button-1-hov: #666CA3;
$txt-color: #83869A;
$bg-txt: #ffffff;
$pink: #F74780;
$pink-hov: #FFA7C3;
$gradient-1: linear-gradient(180deg, rgba(255,111,72,1) 0%, rgba(240,42,166,1) 100%);
$gradient-2: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
$but-2-hov: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
$but-3-hov: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);



